body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  min-height: 100px;
  margin: auto;
}

.content-section_theme_dark {
  color: #fff;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #fee42a;
}

/* header start */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 20px;
}

.header__logo {
  display: block;
  width: 78px;
}

.header__logo-image {
  width: 100%;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header__menu-link {
  color: #f5f5f5;
  font-size: 16px;
  line-height: 1.2;
}

.header__menu-item .header__menu-item-active {
  text-decoration: none;
}

/* header end */

/* cover start */

.cover__title {
  width: 100%;
  color: #fff;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
}

.cover__title {
  width: 100%;
  color: #fff;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
}

/* cover end */

/* intro start */

.intro__heading {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  color: #ccc;
  font-size: 16px;
}

.intro__title {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.intro__date {
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
}

.intro__main-text {
  font-family: "Inter", serif;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 1.35;
}

/* intro end */

/* reasons start */

.content-section__subtitle {
  margin-bottom: 32px;
  font-family: "EB Garamond";
  font-size: 28px;
  font-weight: 500;
  text-align: right;
  line-height: 1.15;
}

.content-section__introduction {
  font-size: 20px;
  margin: 0 0 32px;
  line-height: 27px;
  font-family: "inter";
  font-weight: 400;
}

.content-section__list-accent {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.35;
}

.content-section__list-item {
  font-family: "inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 0 16px;
  line-height: 1.35;
}

.accent-span {
  display: block;
  text-align: left;
}

/* reasons end */

/* how-to start */

.card {
  border-radius: 30px;
  padding: 20px;
}

.card_theme_dark {
  background-color: #343434;
  color: #f5f5f5;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.card__text {
  font-size: 16px;
  line-height: 1.35;
}

.card__author-name {
  font-weight: 700;
  line-height: 135%;
  margin-bottom: 8px;
}

.card__title {
  font-family: "EB Garamond";
  font-size: 22px;
  font-weight: 500;
  line-height: 135%;
  margin-bottom: 8px;
}

.card__author-photo {
  margin-bottom: 8px;
}

.card_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

/* how-to end */

/* footer start */



.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cover {
  min-height: 258px;
  padding: 7px 0px 30px 20px;
  background-image: url(../img/cover.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95% auto;
}

.intro {
  padding: 30px 20px 38px;
}

.reasons {
  padding: 40px 20px;
}

.how-to {
  padding: 40px 20px 60px;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fee42a;
}

.footer__links {
  display: flex;
  gap: 16px;
  list-style: none;
}

.footer__links a {
  color: #f5f5f5;
  font-size: 14px;
  line-height: 1.25;
  text-decoration: none;
}